body {
  background-color: white;
  color: #8a8a8a;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  margin: 0px; 
}

div#topHeader, div.dropdown-content {
  background-color: white;
  font-family: Arial;
  text-align: center; 
  height: 55.65px; 
}

.boxShadow {
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.25); 
}

.project {
  text-align: center;
  padding: 15px; 
  margin: 15px;
}

.project img {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  padding: 0px 0px 15px;
}

.project a {
  font-size: 20px;
  text-decoration: none;
  color: #8a8a8a; 
}
.project a:hover {
  color: #696969;
}

.topBar {
  position: fixed;
  top: 0;
  width: 100% 
}

.topBar + .yield {
  padding-top: 85.65px; 
}

nav.navbar {
  display: inline-block;
  background-color: inherit;
  overflow: hidden;
  font-size: 20px; 
  z-index: 5;
}

.navbar a {
  float: left;
  font-size: inherit;
  text-align: center;
  text-decoration: none;
  color: #8a8a8a; 
  padding: 15px 15px 15px; 
}

.navbar .dropdown {
  float: left;
  overflow: hidden; 
}

.navbar .dropdown button {
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
  color: #8a8a8a; 
  padding: 15px 15px 15px;
  margin: 0px; 
}

.active {
  font-weight: bold; 
}

.navbar a:hover, .navbar .dropdown:hover button {
  box-sizing: border-box;
  border-bottom: 2px solid;
  border-color: #696969;
  color: #696969;
  transition: all .15s ease-in-out; 
}

.navbar .dropdown .dropdown-content {
  display: none;
  position: absolute;
  z-index: 10; 
}

.navbar .dropdown:hover .dropdown-content {
  display: block; 
}

div.sidebar {
  float: left;
  text-align: center;
  width: 200px;
  z-index: 1;
  top: 85.65px;
  left: 100px;
  background: white;
  overflow-x: hidden;
  padding: 10px;
  color: black;
}

.sidebar a {
  display: inline-block;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #8a8a8a; 
  padding: 10px; 
}

.sidebar a:hover {
  display: block;
  color: #696969;
  transition: all .15s ease-in-out; 
}

.fixedSidebar {
  position: fixed;
  top: 250px; 
}

div.main {
  margin-left: 220px;
  padding: 0px 30px; 
}

div.yield h1.title {
  text-align: center; 
}

div.yield ul li {
  padding: 2.5px 0px; 
}
div.yield ul li a {
  text-decoration: none;
  color: #8a8a8a; 
}
div.yield ul li a:hover {
  text-decoration: underline;
  color: #696969; 
}

div.infobar {
  overflow: hidden;
  background-color: #ececec;;
  display: block;
  float: none;
  text-align: center;
  font-family: Arial;
  padding: 30px 30px 30px 30px;
  color: white;
  font-size: 16px; 
}

div.infobar a {
  text-decoration: none; 
}

div.infobar ul {
  display: inline;
  list-style: none; 
}

div.infobar ul li a {
  text-decoration: none;
  color: #8a8a8a; 
}
div.infobar ul li a:hover {
  text-decoration: underline;
  color: #696969; 
}

div.yield {
  padding: 30px 100px 50px; 
}

iframe {
  display: block;
  margin: 0 auto;
  width: 100%;
}

img.profile_pic {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  width: 20%; 
}

img.title_pic {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  width: 50%; 
}

img.picture_page {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  width: 75%; 
}

img.social {
  width: 45px; 
  height: 45px;
  padding: 15px; 
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); 
}
img.social:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%); 
}
