body {
  background-color: white;
  color: #8a8a8a;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  margin: 0px; }

div#topHeader, div.dropdown-content {
  background-color: white;
  font-family: Arial;
  text-align: center; 
  height: 55px; }

.boxShadow {
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.25); }

.topBar {
  position: fixed;
  top: 0;
  width: 100% }

.topBar + .yield {
  padding-top: 90px; }

nav.navbar {
  background-color: inherit;
  overflow: hidden;
  font-size: 20px; }

.navbar a {
  float: left;
  font-size: inherit;
  text-align: center;
  text-decoration: none;
  color: #8a8a8a; 
  padding: 15px 15px 15px; }

.navbar .dropdown {
  float: left;
  overflow: hidden; }

.navbar .dropdown button {
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
  color: #8a8a8a; 
  padding: 15px 15px 15px;
  margin: 0px; }

.navbar .active {
  font-weight: bold; }

.navbar a:hover, .navbar .dropdown:hover button {
  box-sizing: border-box;
  border-bottom: 2px solid;
  border-color: #696969;
  color: #696969;
  transition: all .15s ease-in-out; }

.navbar .dropdown .dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.navbar .dropdown:hover .dropdown-content {
  display: block;
}

div.infobar {
  overflow: hidden;
  background-color: #ececec;;
  display: block;
  float: none;
  text-align: center;
  font-family: Arial;
  padding: 20px 400px 40px 400px;
  color: white;
  font-size: 16px; }

div.infobar a {
  text-decoration: none; }

div.infobar ul {
  display: inline;
  list-style: none; }

div.infobar ul li a {
  text-decoration: none;
  color: #8a8a8a; }
div.infobar ul li a:hover {
  color: #696969; }

div.yield {
  padding: 30px 100px 50px; }

img.profile_pic {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  width: 25%; }

ul.outer {
  list-style: none;
  padding-left: 0;}

li.outer {
  list-style: none; }

ul.inner {
  font-weight: normal; }

p.year {
  text-align: center;
  font-weight: bold; }

p.sabbatical {
  text-align: center; }

table.courses {
  margin: 0 auto;
  width: 100%; }

table.courses td {
  text-align: center; }

table.courses .course {
  width: 25%; }

table.courses .title {
  width: 50%; }

table.courses .title a {
  color: black; }
  table.courses .title a:hover {
    color: blue; }

table.courses .season {
  width: 25%; }

span.name {
  text-decoration: underline; }

.picture_page {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  width: 60%; }

p.para {
  text-align: center; }

img.social {
  width: 45px; 
  height: 45px;
  padding: 15px; }
